$main_color: #1e3799
$secondary_color: #6a89cc

// reset
*
  box-sizing: border-box
  transition-duration: 0.4s
  margin: 0
  padding: 0

body
  background: url('../images/prairie.bmp')

main
  margin: 20px auto
  width: 90%
  min-width: 800px
  max-width: 1000px
  background-color: white
  border: 1px solid grey
  border-radius: 3px
  box-shadow: 10px 10px 5px grey
  padding: 20px
  .identity
    .name
      text-align: center
      font-weight: bold
    .bottom
      display: flex
      justify-content: space-between
      .contact
        .media
          display: flex
          flex-direction: column
      .photo
        img
          content: url('https://s.gravatar.com/avatar/9157ab2e23bff2f326d1cca434ab4350?s=80')
  .objective
    text-align: center
    font-weight: bold


h1
  font-size: 2rem

h2
  background-color: #3459be
  color: white
  text-transform: capitalize

p
  margin-bottom: 0
