$main_color: #1e3799
$secondary_color: #6a89cc

// reset
*
  box-sizing: border-box
  transition-duration: 0.4s
  margin: 0
  padding: 0

html
  scroll-behavior: smooth

body
  background: url('../images/prairie.bmp')
  font-size: 10pt

header
  nav
    display: flex
    justify-content: space-between
    position: fixed
    top: 0
    height: 12vh
    width: 100%
    background-color: #1b47c0
    color: white
    a
      color: white
      text-decoration: none
      text-transform: uppercase

    .menu
      align-self: center
      ul
        padding: 0
        margin: 0
        display: flex
        list-style: none
        li
          margin-right: 1.5rem

h1
  font-size: 12pt
  font-weight: bold

h2
  font-size: 12pt
  font-weight: bold
  background-color: #3459be
  color: white
  text-transform: capitalize

section
  margin-top: 1rem

article
  margin-top: 0.5rem

p
  margin-bottom: 0

main
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin: 40px auto
  width: 90%
  min-width: 800px
  max-width: 1000px
  background-color: white
  border: 1px solid grey
  border-radius: 3px
  box-shadow: 10px 10px 5px grey
  padding: 50px
  .identity
    .candidate
      text-align: center
      font-weight: bold
      .candidatetitle
        font-size: 10pt
    .candidatecard
      display: flex
      justify-content: space-between
      font-style: italic
      .contact
        .media
          display: flex
          flex-direction: column
      .photo
        width: 200px
        img
          height: 100%
          display: block
          margin-left: auto
          content: url('https://s.gravatar.com/avatar/9157ab2e23bff2f326d1cca434ab4350?s=80')
  .objective
    text-align: center
    font-weight: bold
    font-style: italic
    font-size: 12pt
  .experience
    .item
      margin-top: 0.5rem
      .line
        display: flex
      .period
        display: flex
        width: 20%
      .position
        // margin-left: 3rem
        font-weight: bold
        text-transform: uppercase
        text-decoration: underline
        width: 40%
      .employer
        display: flex
        // margin-left: 1rem
        .contact
          display: flex
          // margin-left: 1rem
          .city
            margin-left: 1rem
          .country
            margin-left: 1rem
      .activities
        margin-top: 0.25rem

  .education
    .item
      margin-top: 0.5rem
      .line
        display: flex
        .period
          display: inline-block
          width: 20%
        .title
          // margin-left: 3rem
          font-weight: bold
          text-transform: uppercase
          text-decoration: underline
          width: 40%
        .organisation
          display: flex
          // margin-left: 1rem
          .contact
            display: flex
            // margin-left: 1rem
            .city
              margin-left: 1rem
            .country
              margin-left: 1rem
      .activities
        margin-top: 0.25rem
