* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../images/prairie.bmp");
  font-size: 10pt;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  height: 12vh;
  width: 100%;
  background-color: #1b47c0;
  color: white;
}

header nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

header nav .menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav .menu ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav .menu ul li {
  margin-right: 1.5rem;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
}

h2 {
  font-size: 12pt;
  font-weight: bold;
  background-color: #3459be;
  color: white;
  text-transform: capitalize;
}

p {
  margin-bottom: 0;
}

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 40px auto;
  width: 90%;
  min-width: 800px;
  max-width: 1000px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  padding: 50px;
}

main .identity .candidatename {
  text-align: center;
  font-weight: bold;
}

main .identity .candidatecard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: italic;
}

main .identity .candidatecard .contact .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .identity .candidatecard .photo {
  width: 200px;
}

main .identity .candidatecard .photo img {
  height: 100%;
  display: block;
  margin-left: auto;
  content: url("https://s.gravatar.com/avatar/9157ab2e23bff2f326d1cca434ab4350?s=80");
}

main .objective {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 12pt;
}

main .experience .item {
  margin-top: 0.5rem;
}

main .experience .item .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .experience .item .period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

main .experience .item .position {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  width: 40%;
}

main .experience .item .employer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .experience .item .employer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .experience .item .employer .contact .city {
  margin-left: 1rem;
}

main .experience .item .employer .contact .country {
  margin-left: 1rem;
}

main .experience .item .activities {
  margin-top: 0.25rem;
}

main .education .item {
  margin-top: 0.5rem;
}

main .education .item .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .education .item .period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

main .education .item .title {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  width: 40%;
}

main .education .item .organisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .education .item .organisation .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .education .item .organisation .contact .city {
  margin-left: 1rem;
}

main .education .item .organisation .contact .country {
  margin-left: 1rem;
}

main .education .item .activities {
  margin-top: 0.25rem;
}
/*# sourceMappingURL=style.css.map */